## 原生数据类型

In [1]:
1

1

In [2]:
type(1)

int

In [3]:
type(1.)

float

In [3]:
type(1 + 1j) # 复数

complex

In [4]:
None

In [5]:
type(None)

NoneType

In [14]:
"abs"

'abs'

In [82]:
"abs" + "is"

'absis'

In [7]:
"abs"[1]

'b'

In [15]:
type("abs")

str

In [9]:
a = [1,2,3]
type(a)

list

In [8]:
b = (1,2,3)
type(b)

tuple

In [10]:
a[0] = -1
a

[-1, 2, 3]

In [11]:
b[0] = -1

TypeError: 'tuple' object does not support item assignment

In [14]:
# set 
c = {1,2,2}
type(c)
c

{1, 2}

In [15]:
# dict
d = {"name":"Mike","age":18}
type(d)

dict

In [16]:
d['name']

'Mike'

In [17]:
d['age']

18

In [18]:
d.keys()

dict_keys(['name', 'age'])

In [19]:
d.values()

dict_values(['Mike', 18])

In [20]:
d.keys()[0]

TypeError: 'dict_keys' object is not subscriptable

In [22]:
list(d.keys())[0]

'name'

## 课后作业

Mike年龄29，他的爸爸（Cane）年龄59.构建两个字典储存他们的信息，并且取出字典中他们的年龄，计算这两个人的年龄之差。

## 比较操作

In [24]:
b = (1 > 2)
c = (9 == 9)
b,c

(False, True)

In [6]:
if 1>2:
    print(111)

In [7]:
if 0:
    print(1111)

In [8]:
if 909090:
    print(111) # 非零数均为True

111

In [9]:
True == 1

True

## 循环和迭代

In [30]:
for i in range(10):
    print(i,end=",") # 默认 end="\n"

0,1,2,3,4,5,6,7,8,9,

In [31]:
for i in range(10):
    print(i) #

0
1
2
3
4
5
6
7
8
9

In [32]:
for i in range(10):
    print(i,end="\n") # 默认 end="\n"

0
1
2
3
4
5
6
7
8
9

In [36]:
"a "+"\n" +" b"

'a \n b'

In [53]:
type(range(10))

range

In [59]:
range(10)[8] # literable,可迭代的

8

In [61]:
for i in [1,9,10]: # in 后面均为可迭代的
    print(i)

1
9
10

## 切片

In [63]:
a = list(range(10))
a

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [64]:
a[0]

0

In [67]:
a[10]

IndexError: list index out of range

In [68]:
a[1:3] # 3

[1, 2]

In [70]:
a[1:5]

[1, 2, 3, 4]

In [71]:
a[1:5:2]

[1, 3]

In [74]:
a[1:-1] # -1代表最后一个，末尾不取

[1, 2, 3, 4, 5, 6, 7, 8]

In [76]:
a[::-1] # 列表逆序

[9, 8, 7, 6, 5, 4, 3, 2, 1, 0]

## 函数

In [16]:
def func(param):

    print(param)
    # return param

a = func("mike")
# print(func("mike"))

mike

In [22]:
a = func("mike")
print("a :",a)

mike
a : None

In [25]:
def func1(param):
    return param + " is a boy"

a = func1("Sarah")
print("a :",a)

a : Sarah is a boy

In [15]:
# 参数

def func2(param,end=" is 18"):
    return param + end
res = func2("Jack") # 没有传end
res

'Jack is 18'

In [40]:
res = func2("Jack",end=" is 19")
res

'Jack is 19'

In [38]:
def chu(a,b):
    return a/b
e = chu(2,1)**2
e

4.0

## 对象 

python里的所有东西均为对象

In [89]:
type("abs") #

str

In [1]:
#  类可以有属性

class human(): #   l类

    age = 180
    height = 190

print(human.age)
print(human.height)

180
190

In [39]:
class Person:
  def __init__(self, name, age):
    self.nam = name
    self.age = age

p1 = Person("John", 36) # 对象，输进去需要

print(p1.nam)
print(p1.age)

John
36

## 课后作业

Mike年龄29，他的爸爸（Cane）年龄59.构建一个类，两个对象储存他们的信息，并且取出字典中他们的年龄，计算这两个人的年龄之差。